body {
  margin: 0;
  background-image: linear-gradient(29deg, #2a006e, #743cd7);
  color: #fff;
  position: relative;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.lol {
  height: 2440px;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: border-color 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.main-navigation.scrolled {
  border-color: #ffffff;
}
.main-navigation.scrolled .logo {
  width: 40px;
  height: 40px;
}
.main-navigation.scrolled .logo:before {
  left: -200%;
  opacity: 0;
}
.main-navigation.scrolled .logo:after {
  left: 0%;
}
.main-navigation.scrolled .navigation ul {
  opacity: 0;
}
.main-navigation.scrolled .navigation .menu-icon {
  opacity: 1;
}
.main-navigation .logo {
  width: 230px;
  height: 40px;
  margin: 20px 10px 20px 10px;
  display: inline-block;
  position: relative;
}
.main-navigation .logo:before {
  content: '';
  background-image: url("../img/holone.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0%;
  transition: left .5s, opacity 0.2s;
  width: 230px;
  height: 40px;
}
.main-navigation .logo:after {
  content: '';
  background-image: url("../img/holone_dot.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -200%;
  transition: left .5s;
}
.main-navigation .navigation {
  display: inline-block;
  position: absolute;
  right: 0;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}
.main-navigation .navigation ul {
  line-height: 80px;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.2s;
}
.main-navigation .navigation .navigation-link {
  margin: 0 20px 0 20px;
  display: inline-block;
  position: relative;
  font-size: 20px;
  letter-spacing: 5px;
}
.main-navigation .navigation .navigation-link:after {
  content: '';
  background-color: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -2;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.2s;
}
.main-navigation .navigation .navigation-link:hover:after {
  bottom: 0;
  opacity: 1;
}
.main-navigation .navigation .menu-icon {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  width: 30px;
  height: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}
.main-navigation .navigation .menu-icon:after {
  content: '';
  top: 10px;
}
.main-navigation .navigation .menu-icon:before {
  content: '';
  top: 20px;
}
.main-navigation .navigation .menu-icon:after,
.main-navigation .navigation .menu-icon:before,
.main-navigation .navigation .menu-icon .menu-icon-top {
  height: 4px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  position: absolute;
  background-color: none;
  transition: background-color 0.2s;
}
.main-navigation .navigation .menu-icon:hover:after,
.main-navigation .navigation .menu-icon:hover:before,
.main-navigation .navigation .menu-icon:hover .menu-icon-top {
  background-color: #fff;
}
