.main-navigation {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: border-color .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


    &.scrolled {
        border-color: rgba(255, 255, 255, 1);

        .logo {
            width: 40px;
            height: 40px;

            &:before {
                left: -200%;
                opacity: 0;
            }

            &:after {
                left: 0%;
            }
        }

        .navigation {
            ul {
                opacity: 0;
            }

            .menu-icon {
                opacity: 1;
            }
        }
    }

    .logo {
        width: 230px;
        height: 40px;
        margin: 20px 10px 20px 10px;
        display: inline-block;
        position: relative;

        &:before {
            content: '';
            background-image: url("../img/holone.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 0%;
            transition: left .5s, opacity 0.2s;
            width: 230px;
            height: 40px;
        }

        &:after {
            content: '';
            background-image: url("../img/holone_dot.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 40px;
            height: 40px;
            left: -200%;
            transition: left .5s;
        }
    }

    .navigation {
        display: inline-block;
        position: absolute;
        right: 0;
        height: 100%;
        font-family: 'Work Sans', sans-serif;

        ul {
            line-height: 80px;
            display: inline-block;
            opacity: 1;
            transition: opacity 0.2s;
        }

        .navigation-link {
            margin: 0 20px 0 20px;
            display: inline-block;
            position: relative;
            font-size: 20px;
            letter-spacing: 5px;

            &:after {
                content: '';
                background-color: #fff;
                height: 2px;
                width: 100%;
                position: absolute;
                bottom: -2;
                opacity: 0;
                transition: bottom 0.3s, opacity 0.2s;
            }

            &:hover {
                &:after {
                    bottom: 0;
                    opacity: 1;
                }
            }
        }

        .menu-icon {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            width: 30px;
            height: 24px;
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.2s;

            &:after {
                content: '';
                top: 10px;
            }

            &:before {
                content: '';
                top: 20px;
            }

            &:after, &:before, .menu-icon-top {
                height: 4px;
                width: 100%;
                border: 1px solid #fff;
                border-radius: 4px;
                position: absolute;
                background-color: none;
                transition: background-color 0.2s;
            }

            &:hover {
                &:after, &:before, .menu-icon-top {
                    background-color: #fff;
                }
            }
        }
    }
}